{% load  static  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polarizado</title>
    <link href="{% static 'core/css/MyStyle.css'%}" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
</head>
<body class="bodystyle1" >
	<!-- NAVBAR -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="{% url 'inicio' %}" style="padding-left:20px;">
		<img src="{% static 'core/img/Logo.png'%}" alt="Logo" width="120" height="96" class="d-inline-block align-text-top">

	</a>
		<a class="navbar-brand in " href="{% url 'nosotros' %}"><h3 id="nvt"> LightningMcQueen </h3></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"> </span>
	</button>		
	<div class="container-fluid" id="Center">
		<form style="width: 400px;"  class="d-flex" role="search">
			<input class="form-control me-2" type="search" placeholder="Que tipo de servicio buscas?" aria-label="Search">
			<button class="btn btn-outline-danger inb" type="submit" >Buscar</button>
		</form>
	</div>
<div class="collapse navbar-collapse" id="navbarNav" style="padding-right:2.7%;">
	<ul class="navbar-nav">
        <li class="nav-item ">
            <a class="in nav-link active" href="{% url 'inicio' %}">Inicio </a>
        </li>
            <li class="nav-item ">
            <a class="in nav-link active" href="{% url 'registro' %}">Registrarse</a>
        </li>
            <li class="nav-item ">
            <a class="in nav-link active" href="{% url 'ingresar' %}">Ingresar</a>
        </li>
        <li class="nav-item ">
            <a class="in nav-link active" href="{% url 'nosotros' %}">Nosotros</a>
        </li>
		<li class="nav-item ">
			<a class="in nav-link active" href="{% url 'tienda' %}">Tienda</a>
		</li>
	</ul>
</div>
	</nav>

	<div class="container my-5" id="dtpN">
		<div class="row" >
				<div class="col-md-6 bbk border border-danger mb-3">
				<h1 id="tituloAut">Polarizado</h1>
				<br>
				<p>El polarizado de los vidrios es un factor muy importante a la hora de tener un auto ya que no solo suma un valor estetico a tu vehiculo si no tambien una mayor privacidad a la hora de dominar las calles.<br>
				<p>los vidrios polarizados son muy compatibles con el  <a href="{% url 'S_pintura' %}">repintado mate que te proporcionará un estilo elegante y distinguido.</a>
				</p>
				<br>
				<h3 id="tituloAu">¿Qué debo tener en cuenta a la hora de polarizar los vidrios de mi vehiculo?</h3>
				<p>La norma busca asegurar que los vidrios de visión directa sean lo suficientemente transparentes, sin causar distorsiones apreciables de los objetos, vistos a través de ellos 
					y no dar lugar a ninguna confusión en los colores utilizados en los semáforos y en las señales de tránsito para cumplir con esta norma tus vidrios polarizados siempre deben contar con
				certificacion para ser aprobados en el servicio tecnico. <br> para tu tranquilidad en taller McQueen contamos con la certificacion del gobierno de chile, por lo que podras contar con tus Vidrios
				polarizados sin ningun problema.</p>
				<br>
				<br>
				<h3 id="tituloAuto2"> Cotizacion</h3>
				<br>
				<p>La cotizacion a la hora de polarizar tus vidrios es muy variable ,esto debido a que depende de muchos anexos para tener un valor realista, para esto debes tener en cuenta:</p>
				<ul>
					<li>Color del polarizado.</li>
					<li>Porcentaje de opacidad.</li>
					<li>Porcentaje que cubre el polarizado.</li>
					<li>Vidrios en los que se hará el polarizado.</li>
				</ul>
			</div>
			<div class="col-md-6" style="padding:10%;">
				<img class="img-1 border border-danger mb-3" src="{% static 'core/img/items/Polar1.jpg'%}" alt="Imagen de polarizado">
				<img class="img-2 border border-danger mb-3" src="{% static 'core/img/items/Polar2.png'%}"  alt="Imagen de polarizado">

			</div>
			
		</div>
	</div>
	<footer>
		<div class="footer-container">
		<div class="footer-section">
			<h3>Navegación</h3>
			<ul>
			<li><a href="#">Inicio</a></li>
			<li><a href="#">Nosotros</a></li>
			<li><a href="#">Productos</a></li>
			<li><a href="#">Tienda</a></li>
			<li><a href="#">Ofertas</a></li>
			<li><a href="#">Contacto</a></li>
			<li><a href="#">Como Comprar</a></li>
			<li><a href="#">Como Instalar Maquinaria</a></li>
			<li><a href="#">Centro de Ayuda</a></li>
			</ul>
		</div>
		
		<div class="footer-section">
			<h3>Medios de pago</h3>
			<ul>
			<li><a href="{% url 'metodos_pagos' %}">Tarjeta de crédito</a></li>
			<li><a href="#">PayPal</a></li>
			<li><a href="#">Transferencia bancaria</a></li>
			<li><a href="#">Guía de Compra</a></li>
			<img src="{% static 'core/img/imgPago.png'%}">
			</ul>
		</div>
		
		<div class="footer-section">
			<h3>Necesitas ayuda</h3>
			<ul>
			<li><a href="#">Centro de ayuda</a></li>
			<li><a href="#">Envianos un Mensaje</a></li>
			<li><a href="#">Simulador</a></li>
			<li><a href="#">Garantia</a></li>
			<li><a href="#">Casos de estudio</a></li>
			<li><a href="#">Fichas de Estudio</a></li>
			<li><a href="#">Glosario de Terminos </a></li>
			<li><a href="#">Blog Laminas de Seguridad</a></li>
			<li><a href="#">Preguntas Frecuentes</a></li>
			<li><a href="#">Términos y Condiciones</a></li>
			</ul>
		</div>
		<div class="footer-section">
			<h3 class="footer-section">Atención al cliente
				<br><br>
				<h3>Horarios:</h3>
			</h3>
			<P style="color: #333;">Lunes a viernes de 9:00 a 18:00 hrs.</P>
			<br><br>
		<ul>
			<li>
				<h3>Email:</h3>
				<a href="#">LightningMcQueen@gmail.com</a></li>
				<br><br>
			<li><h3>Direccion:</h3>
				<a href="/dnd_encontrarnos.html">Av. Manuel Montt 2024 Providencia, Santiago, Chile</a></li>
			<li><a href="#"></a></li>
			</ul>
		</div>
	</div>
		
		<div class="footer-bottom">
		<p>&copy; Lightning McQueen.cl Desarrollado por <a href="{% url 'Equipo' %}">Nosotros</a></p>
		</div>
	</footer>
    





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>`
	<script src="{% static 'core/js/app.js'%}"></script>
	<script src="{% static 'core/js/anim.js'%}"></script>
</body>
</html>